.aToolTip {
	border:2px solid #444;
	background:#555;
	color:#fff;
	margin:0;
	padding:6px 12px;
}

.aToolTip .aToolTipContent {
	position:relative;
	margin:0;
	padding:0;
}

a.aToolTipCloseBtn {
	display:block;
	height:18px;
	width:18px;
	background:url(../images/closeBtn.png) no-repeat;
	text-indent:-9999px;
	outline:none;
	position:absolute;
	top:-15px;
	right:-15px;
	margin:2px;
	padding:4px;
}